<?php if ($this->previewMode): ?>

    <div class="form-control">
        <?= $value ?>
    </div>

<?php else: ?>
    <div class="input-group">
        <input
            type="text"
            id="<?= $this->getId('input') ?>"
            name="<?= $name ?>"
            value="<?= isset($value['url']) ? $value['url'] : null ?>"
            class="form-control"
            placeholder="http://"
            autocomplete="off" />
        <div class="input-group-btn">
            <button
                type="button"
                data-request="onExtractMedia"
                data-request-update="'preview': '#extractmediaview'"
                data-request-loading="#loading"
                class="btn btn-default">
                PREVIEW
            </button>
        </div>
    </div>
        <div class="loading-indicator-container" id="loading" style="display: none;">
            <div class="loading-indicator indicator-center">
                <span></span>
            </div>
        </div>
    <div id="extractmediaview">
        <?php 
            $html = isset($value['embed']['html']) ? $value['embed']['html'] : false;
            if($html):
        ?>
        <div class="callout fade in callout-success text-center">
            <div class="content">
                <?= $html ?>
            </div>
        </div>
        <?php endif; ?>
    </div>
<?php endif ?>
